<template>
  <v-list one-line>
      <!-- {{ productType }} -->
    <template v-for="(product, index) in productsForDisplay" track-by="id">
      <v-list-tile
        :key="product.id"
        avatar
        ripple
        @click="addToCart(product)"
      >
        <v-list-tile-content>
          <v-list-tile-title>{{product.id}} {{product.name}} {{formatter.format(product.price)}}</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action />
      </v-list-tile>
      <v-divider
        v-if="index + 1 < store.filteredProducts.length"
        :key="index"
      />
    </template>
  </v-list>
</template>
<script>
// based on value set the proper filter
import Shop from '../store/Shop';
import { getModule } from 'vuex-module-decorators'

export default {
  props: ["productType"],
  computed: {
    productsForDisplay(type) {
      const filter = this.productType === 1 ? "SHOES" : "SOCKS";
      return this.$data.store.filteredProducts(filter);
    }
  },
  methods: {
    addToCart: function(_item) {
      this.$data.store.addItemToCart(_item);
    }
  },
  data() {
    return {
      formatter: new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "USD",
        minimumFractionDigits: 2
      }),
      store: getModule(Shop, this.$store)
    };
  }
};
</script>
